@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideDown {
  animation: slideDown 0.3s ease-out;
}

.gradient-bg {
    background: linear-gradient(270deg, #1e3a8a, #9333ea, #f59e0b, #10b981);
    background-size: 800% 800%;
    animation: gradient 15s ease infinite;
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE & Edge */
    scrollbar-width: none;    /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;           /* Chrome, Safari */
  }
}

.scrollbar-hide::-webkit-scrollbar { display: none; }

html, body, #root { height: 100%; }
body { @apply bg-gray-50; }